
body {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cliente {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    min-width: 200px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 60%;
    height: 100%;
    margin: auto;
    min-width: 350px;
    margin-top: 40px;
    
}
form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

form #cliente{
    margin: auto;
}

form #contato{
    margin: auto;
}

form #endereco{
    margin: auto;
}
input {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

