<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="assets/style/stylecadastro.css">
    <title>Cadastro Cliente</title>
</head>
<body>
    <header>
        <h1>Cadastro</h1>
    </header>
    <div class="form">
        <form method="POST">
            <div class="cliente">
                <label for="nome">Nome</label>
                <input type="text" id="nome">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome">
                <label for="data_nascimento">Data de nascimento</label>
                <input type="date" id="data_nascimento">
                <label for="rg">RG</label>
                <input type="text" id="rg">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf">
                <label for="cnh">CNH</label>
                <input type="cnh">
            </div>
            <div class="cliente">
                <label for="celular">Celular</label>
                <input type="tel" id="celular">
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone">
                <label for="email">Email</label>
                <input type="email" id="email">
                <button type="submit">Cadastrar</button>
            </div>
            
            <div class="cliente">
                <label for="estado">Estado</label>
                <select name="estado" id="estado">
                    <option value="Acre">Acre</option>
                    <option value="Alagoas">Alagoas</option>
                    <option value="Amapa">Amapa</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Bahia">Bahia</option>
                    <option value="Ceara">Ceara</option>
                    <option value="Distrito Federal">Distrito Federal</option>
                    <option value="Espitito Santo">Espirito Santo</option>
                    <option value="Goias">Goias</option>
                    <option value="Maranhao">Maranhão</option>
                    <option value="Mato Grosso">Mato Grosso</option>
                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                    <option value="Minas Gerais">Minas Gerais</option>
                    <option value="Para">Pará</option>
                    <option value="Paraiba">Paraiba</option>
                    <option value="Parana">Parana</option>
                    <option value="Pernambuco">Pernambuco</option>
                    <option value="Piaui">Piaui</option>
                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                    <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Rondonia">Rondonia</option>
                    <option value="Roraima">Roraima</option>
                    <option value="Santa Catarina">Santa Catarina</option>
                    <option value="Sao Paulo">Sao Paulo</option>
                    <option value="Sergipe">Sergipe</option>
                    <option value="Tocantins">Tocantins</option>
                    <option value=""> </option>
                </select>
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro">
                <label for="logradouro" id="logradouro">Logradouro</label>
                <select name="logradouro" id="logradouro">
                    <option value="Aeroporto">Aeroporto</option>
                    <option value="Alameda">Alameda</option>
                    <option value="Area">Area</option>
                    <option value="Avenida">Avenida</option>
                    <option value="Campo">Campo</option>
                    <option value="Chacara">Chacara</option>
                    <option value="Colonia">Colonia</option>
                    <option value="Condominio">Condominio</option>
                    <option value="Conjunto">Conjunto</option>
                    <option value="Distrito">Distrito</option>
                    <option value="Esplanada">Esplanada</option>
                    <option value="Estacao">Estacação</option>
                    <option value="Estrada">Estrada</option>
                    <option value="Favela">Favela</option>
                    <option value="Fazenda">Fazenda</option>
                    <option value="Feira">Feira</option>
                    <option value="Jardim">Jardim</option>
                    <option value="Ladeira">Ladeira</option>
                    <option value="Lago">Lago</option>
                    <option value="Lagoa">Lagoa</option>
                    <option value="Largo">Largo</option>
                    <option value="Loteamento">Loteamento</option>
                    <option value="Morro">Morro</option>
                    <option value="Nucleo">Núcleo</option>
                    <option value="Parque">Parque</option>
                    <option value="Passarela">Passarela</option>
                    <option value="Patio">Patio</option>
                    <option value="Praca">Praça</option>
                    <option value="Quadra">Quadra</option>
                    <option value="Recanto">Recanto</option>
                    <option value="Residencial">Residencial</option>
                    <option value="Rodovia">Rodovia</option>
                    <option value="Rua">Rua</option>
                    <option value="Setor">Setor</option>
                    <option value="Sitio">Sitio</option>
                    <option value="Travessa">Travessa</option>
                    <option value="Trecho">Trecho</option>
                    <option value="Trevo">Trevo</option>
                    <option value="Vale">Vereda</option>
                    <option value="Vereda">Vereda</option>
                    <option value="Via">Via</option>
                    <option value="Viaduto">Viaduto</option>
                    <option value="Viela">Viela</option>
                    <option value="Vila">Vila</option>
                </select>

                <label for="rua">Rua</label>
                <input type="text" id="rua">
                <label for="numero">Número</label>
                <input type="number">
                <label for="complemento">Complemento</label>
                <input type="text" id="complemento">
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>