<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/stylehome.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Bem vindos ao Car Rental</h1>
    </header>
    <main>
        <div>
            <a href="https://storyset.com/people" target="_blanck"><img src="image/home.svg" alt="carro"></a>
            <div class="form">
                <form method="POST">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                    <button>Submit</button>
                </form>
                <strong><p>Não tem uma conta? <a href="cadastroCliente.html">Cadastre-se</a></p></strong>
                <a href="loginAdmin.html">Login Admin</a>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>